<div class="container-fluid background">

    <div class="row align">

      <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1"> 
          
        <div class="jumbotron">
          
          <h2>Welcome to MyRecipes!</h2>
          
          <p class="hidden-xs hidden-sm">MyRecipes allows you to share your recipes with the world, make friends with fellow food enthusiasts and also learn from other aspiring chefs! </p>
          
          <p class="hidden-xs">Sign up to join the food revolution...</p>
          
          <form class="signup-form" method="post">

              <div class="form-group">

	                <input type="text" name="name" class="form-control" placeholder="Name">

              </div>
              
              <div class="form-group">

	                <input type="email" name="email" class="form-control" placeholder="Email">

              </div>

              <div class="form-group">

	                <input type="password" name="password" class="form-control" placeholder="Password">

              </div>
          
          <%= link_to "Sign up now!", register_path, class: "btn btn-style btn-lg" %> 
          
          
          
          </form>
          
        </div>
      
      </div>
      
      <div class="col-md-3 col-sm-3 hidden-xs"> 
        
        <div class="thumbnail">
            
            <div class="caption">
              
                <h3>Log In</h3>
                <p class="hidden-xs hidden-sm">Create, comment and share your recipes!</p>
                
                <form class="signup-form" method="post">

                  <div class="form-group">
    
    	                <input type="email" name="loginemail" class="form-control" placeholder="Email">
    
                  </div>
                  
                  <div class="form-group">
    
    	                <input type="password" name="loginpassword" class="form-control" placeholder="Password">
    
                  </div>
              
                </form>
                
                <%= link_to "Log In", login_path, class: "btn btn-style btn-md" %>
              
            </div>
            
          </div>

        </div>
      
      <div class="col-md-3 col-sm-3"> 
        
        <div class="thumbnail">
            
            <div class="caption">
              
                <h3>Enter as a Guest</h3>
                <p class="hidden-xs hidden-sm">Feel free to browse the recipes!</p>
                <%= link_to "Browse Recipes", recipes_path, class: "btn btn-style btn-md" %>
              
            </div>
            
          </div>

        </div>
        
      </div>  
</div>


  