<div class="container-fluid background">

    <div class="row">

      <div class="col-md-6 col-md-offset-1"> 
          
        <div class="jumbotron">
          
          <h2>Welcome to MyRecipes!</h2>
          
          <p>MyRecipes allows you to share your recipes with the world, make friends with fellow food enthusiasts and also learn from other aspiring chefs! </p>
          
          <p>Sign up to join the food revolution...</p>
          
          <%= link_to "Sign up now!", "", class: "btn btn-style btn-large" %>
          
        </div>
      
      </div>
      
      <div class="col-md-4"> 
        
        <div class="thumbnail">
            
            <div class="caption">
              
                <h3>Browse Recipes as Guest</h3>
                <p>Feel free to browse the recipes!</p>
                <p><%= link_to "Browse Recipe Listings", "", class: "btn btn-style btn-small" %></p>
              
            </div>
            
          </div>

        </div>
          
      </div>
        
</div>


  