

@import "bootstrap-sprockets";
@import "bootstrap";


.navbar-inverse {
  background-color: #16393F;
  border-color: #3f1C16;
  border: 2px;
  border-radius: 2.5px;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  font-size: 1.3em;
  color: #E6E6E6;
  
  
}

.navbar-inverse .navbar-nav > li > a {
  color: #E6E6E6;
}

.navbar-brand {
  font-size: 1.5em;
  color: #E6E6E6 !important;
  
}

.dropdown {
  margin-right:60px;
  
 
}

.btn-default {
  background-color: transparent;
  border-color: transparent;
  border: 0px;
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
  color: #E6E6E6;
  padding: 0px 10px 0px 10px;
  min-height: 30px;
  margin-top: 9px;
  font-size: 1em;
  
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.clear {
    clear: both;
}

.background {
      //margin-top: -20px;
  		height: 100%;
  		width: 100%;
  		background: url(background.jpeg);
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		background-repeat: no-repeat;
  		background-position: center top;
  	}
  	
h1 {
  //margin-top: -20px;
  position: relative;
}

.align {
  margin-top: 100px;
  
}

.jumbotron {
  padding: 10px 15px 20px 15px;
}
.jumbotron, .thumbnail {

  //width: 50%;
  background-color: rgba(230,230,230,0.5);
  border: 0px;
  text-align: center;
}

.jumbotron p, .jumbotron .btn-style, .jumbotron h2 {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.thumbnail {
  padding-bottom: 10px;
}

.btn-style {
  border-radius: 2px;
  border-color: #333333;
  border-width: 2.5px;
  color: #333333;
  font-weight: bold;
  font-size: 1.2em;
  padding: 3px 8px 3px 8px;
  
}

.btn-style:hover {
  border-radius: 2px;
  border-color: #E6E6E6;
  background-color: #333333;
  border-width: 2.5px;
  color: #E6E6E6;
  font-weight: bold;
  font-size: 1.2em;
  padding: 3px 8px 3px 8px;
  
}

.backdrop {
  height: 100%;
  width: 100%;
  background-color: #E9EAED;
  padding: 55px;
}

.page-title, .horizontal-line {
 color: #16393F;
 border-color: #16393F;
}

.well {
  background-color: #EDEDED;
  border: 1px;
  border-radius: 4px;
  border-color: #DFE0E4;
}

.gravatar {
  border-radius: 10px;
}

.media-left h5 {
  text-align: center;
}

.signup-form {
  margin-left: 10px;
  margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  height: auto !important;
}










